name: CI topology updater

on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@cbb722410c2e876e24abbe8de2cc27693e501dcb

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@a48face58194521af687ce7df4c802b1b558e743

      - name: Setup Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@6221693898146dc97e38ad0e013488a16477a4c4

      - name: Build Topology
        run: nix build .#topology.x86_64-linux.config.output --extra-experimental-features pipe-operators

      - name: Move Topology
        run: sudo cp -r result/* assets/topology/

      - name: fmt SVGs
        run: nix fmt

      - name: Commit and Push changed Files
        uses: EndBug/add-and-commit@a604fba70a846a0ea59e6040ef8a4a4f95015772
        with:
          message: "ci: Update Topology"
